@import url("https://fonts.googleapis.com/css?family=Roboto&effect=neon|outline|emboss|shadow-multiple|fire-animation|neon|3d|anaglyph|emboss");
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color:black;
}
.proteina {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr; 
    margin: auto; 
}

img {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
}
img:hover{
    scale: 1.1;
}
