@import url("https://fonts.googleapis.com/css?family=Roboto&effect=neon|outline|emboss|shadow-multiple|fire-animation|neon|3d|anaglyph|emboss");
body {
    background-image: url('plain-zoom-background-mmzxzeeo406617x4.jpg');
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    font-family: Arial, sans-serif; 
    color: white;
}
.proteina {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr; 
    margin: auto; 
}

img {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
}
img:hover{
    scale: 1.1;
}
