body {
    background-image: url('img/plain-zoom-background-mmzxzeeo406617x4.jpg');
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    font-family: Arial, sans-serif; 
    color: white;
}

nav{
background-color: rgb(221, 158, 40);
height: 170px;
width: 100%;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
*{margin:0;
    padding: 0;  
    list-style:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    text-decoration:none;
  }
nav h2{
padding: 10px;
text-align: left;    
}
nav ul{
float: left;
padding: 0px;
margin-right: 10px;
}
nav ul li{
line-height: 20px;
margin: 0px 5px;
display: inline;

}
nav ul li a{
margin-left: 20px;
    float: left;
color: white;
font-size: 15px;
padding: 20px 13px ;
border-radius: 20px;
text-decoration: none;
}
a:hover{
background-color: rgb(196, 183, 183);
transition: 0.3s;
scale: 1.05;
border: 1px solid white;
padding: 15px 10px;
}

@media (max-width: 1900px) {
    #el7 {
        display:none;
    }
}
@media (max-width: 1800px) {
    #el6 {
        display:none;
    }
}
@media (max-width: 1500px) {
    #el5 {
        display:none;
    }
}
@media (max-width: 1200px) {
    #el4 {
        display:none;
    }
}
@media (max-width: 900px) {
    #el3 {
        display:none;
    }
}
@media (max-width: 650px) {
    #el2 {
        display:none;
    }
}
@media (max-width: 300px) {
    #el1 {
        display:none;
    }
}
nav h1{
    padding: 10px;
    text-align: left;
    display: inline-block;
    }
#titulo{
    font-family: 'Courier New', Courier, monospace;

}
#introduccionalcuerpohumano{
    padding: 10px;
    margin-top: 10px;
}
#p1{
    padding: 10px;
    margin-top: 40px;
}
#tiposdeentrenamiento{
    padding: 10px;
}
#ptde{
    padding: 10px;
}
#p2{
    padding: 10px;
}
#p3{
    padding: 10px;
}
#p4{
    padding: 10px;
}
#p5{
    padding: 10px;
}
#p6{
    padding: 10px;
}
#p7{
    padding: 10px;
}
#p8{
    padding: 10px;
}
#p9{
    padding: 10px;
}














body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;

}

h4 {
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid #d3cdcd;
    border-radius: 5px;
    background-color: white;
}

label {
    margin-top: 10px;
}

input[type="text"]{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
}

input[type="tel"]{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
}

input[type="date"]{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
}

input[type="number"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
}

.sexo-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: lightgreen;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #378347;
}

table{
    border: 2px solid black;
}
td{border: 2px solid black;}

th{border: 2px solid black;}
img {
    max-width: 100%;
    height: auto;
}
